<div class="container location-wrapper">
  <!-- This section should be hidden by default and shown when there are locations -->
  <section class="main">
    <ul class="location-list mat-elevation-z8" *ngIf="locations().length>0; else spinner">
      <li *ngFor="let location of locations()">
        <div class="courses-container">
          <div class="course">
            <div class="course-info">
              <h5><b>City:</b> {{location.ciudad}} - <b>Code Postal:</b> {{location.postalcode}}</h5>
              <h6><b>Temperature: </b> {{location.temp}}</h6>
              <h6><b>Current Time: </b> {{location.current_weather}}</h6>
              <h6><b>Description: </b> {{location.description}}</h6>
              <button class="btn" (click)="eliminarLocation(location)">Delete</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer">
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>

  <ng-template #spinner>
    <p> Aun no tiene datos.</p>
  </ng-template>
</div>
