<div class="container location-wrapper">
  <!-- This section should be hidden by default and shown when there are locations -->
  <section class="main">
    <pre><code>  {{ weathers$ | async | json }}
    </code></pre>
    <ul class="location-list">
      <li>
        <div class="view">

          <span>
            <label> {{(weathers$ | async)?.name}}</label>
            <ul>
              <li>Current Time: {{(weathers$ | async)?.weather[0].main}}</li>
              <li>Description: {{(weathers$ | async)?.weather[0].description}}</li>
            </ul>



          </span>
        </div>
      </li>

      <li>
        <div class="courses-container">
          <div class="course">

            <div class="course-info">

              <h5><b>City:</b> {{(weathers$ | async)?.name}}</h5>
              <h6><b>Current Time: </b> {{(weathers$ | async)?.weather[0].main}}</h6>
              <h6><b>Description: </b> {{(weathers$ | async)?.weather[0].description}}</h6>
              <button class="btn">Delete</button>
            </div>
          </div>
        </div>

      </li>

    </ul>
  </section>
  <footer class="footer">

    <button class="clear-completed">Clear completed</button>
  </footer>
</div>