<div class="container location-wrapper">
  <!-- This section should be hidden by default and shown when there are locations -->
  <section class="main">
    <ul class="location-list mat-elevation-z8" *ngIf="locations().length>0; else spinner">
      <li *ngFor="let location of locations()">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><b>City:</b> {{location.ciudad}} - <b>Code Postal:</b> {{location.postalcode}}</h4>
            <h5 class="card-text"><b>Temperature: </b> {{location.temp}}</h5>
            <h5 class="card-text"><b>Current Time: </b> {{location.current_weather}}</h5>
            <h5 class="card-text"><b>Description: </b> {{location.description}}</h5>


            <button class="btn btn-primary btn-view " (click)="verLocation(location)">Ver</button>
            <button class="btn btn-danger btn-delete" (click)="eliminarLocation(location)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer">
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>

  <ng-template #spinner>
    <p> Aun no tiene datos.</p>
  </ng-template>
</div>
